{% extends "layouts/base.html" %} {% block title %}{{ post.title }} - HoagART{%
endblock %} {% block content %}
<div class="container">
    <div class="blog-detail">
        {% if post.image_url %}
        <div class="post-cover">
            <img
                src="{{ post.image_url }}"
                alt="{{ post.title }}"
                class="cover-image"
            />
        </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <div class="meta">
            <span>Đăng bởi {{ post.user.username }}</span>
            <span>{{ post.created_at.strftime('%d/%m/%Y') }}</span>
        </div>
        <div class="content blog-content">{{ post.content | safe }}</div>
        <div class="navigation">
            {% if prev_post %}
            <a
                href="{{ url_for('blog.blog_detail', id=prev_post.id) }}"
                class="btn"
                >Bài trước</a
            >
            {% endif %} {% if next_post %}
            <a
                href="{{ url_for('blog.blog_detail', id=next_post.id) }}"
                class="btn"
                >Bài sau</a
            >
            {% endif %}
            <a href="{{ url_for('blog.index') }}" class="btn">Quay lại Blog</a>
        </div>
    </div>
</div>
{% endblock %}
