{% extends "layouts/base.html" %} {% block title %}{{ title }} - HoagART{%
endblock %} {% block content %}
<div class="container">
    <h2>{{ title }}</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="{{ form.name.id }}">{{ form.name.label }}</label>
            {{ form.name(class="form-control") }} {% for error in
            form.name.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="{{ form.price.id }}">{{ form.price.label }}</label>
            {{ form.price(class="form-control") }} {% for error in
            form.price.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="{{ form.description.id }}"
                >{{ form.description.label }}</label
            >
            {{ form.description(class="form-control") }} {% for error in
            form.description.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="{{ form.features.id }}"
                >{{ form.features.label }}</label
            >
            {{ form.features(class="form-control") }} {% for error in
            form.features.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="{{ form.featured.id }}"
                >{{ form.featured.label }}</label
            >
            {{ form.featured(class="form-check-input") }} {% for error in
            form.featured.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}
